@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

/* Offset for sticky header */
section {
  scroll-margin-top: 90px;
}

@media (max-width: 768px) {
  section {
    scroll-margin-top: 110px;
  }
}



.fade-section {
  opacity: 0;
  transform: translateY(16px);
  transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.fade-section.show {
  opacity: 1;
  transform: translateY(0);
}

/* desktop */

/* Common button styles */
.cta-btn {
  padding: 14px 30px;
  font-size: 16px;
  border-radius: 999px;
  text-align: center;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.35s ease;
  cursor: pointer;
}

/* Buy Now */
.buy-btn {
  background: rgba(255,255,255,0.7);
  color: #16a34a;
  border: 2px solid #16a34a;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
  position: relative;
  overflow: hidden;
}

.buy-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 14px 30px rgba(22, 163, 74, 0.35);
  color: white;
  background: #16a34a;
}

.buy-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 60%;
  height: 100%;
  background: rgba(255,255,255,0.25);
  transform: skewX(-25deg);
  transition: 0.7s;
}

.buy-btn:hover::before {
  left: 130%;
}

/* View Benefits */
.benefit-btn {
  background: rgba(255,255,255,0.7);
  backdrop-filter: blur(8px);
  border: 2px solid #16a34a;
  color: #16a34a;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.benefit-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 14px 30px rgba(22, 163, 74, 0.35);
  color: white;
  background: #16a34a;
}



.cta-buttons {
  display: flex;
  gap: 16px;
  align-items: center;
}


@media (max-width: 768px) {

  .cta-buttons {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
    margin-top: 20px;
  }

  .cta-btn {
    width: 100%;
    height: 56px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 16px;
  }

  .buy-btn {
    background: rgba(255,255,255,.8);
    box-shadow: 0 8px 25px rgba(22,163,74,.25);
    backdrop-filter: blur(10px);
    border: 1.5px solid #16a34a;
  }

  .benefit-btn {
    background: rgba(255,255,255,.8);
    backdrop-filter: blur(10px);
    border: 1.5px solid #16a34a;
    box-shadow: 0 8px 25px rgba(22,163,74,.25);
  }
}


@media (max-width: 768px) {


  .hero-image,
  .product-image {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }


  .hero-image img,
  .product-image img {
    width: 88%;
    max-width: 380px;        
    height: auto;
    border-radius: 20px;     
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
  }
}